.available {
  background: #EFF6FF;
}



.table {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;

  border: 1px solid #CCD2E3;
  border-radius: 8px;
  border-spacing: 30px 15px;

}

.table-header {
  display: flex;
  justify-content: space-between;
  color: #9CA3AF;
  flex: 1;

}

.table-row {
  display: flex;
  justify-content: space-between;
  margin: 10px px;
  padding: 8px;
}

.table-data {
  color: #111827;
}

.table-data-available {
  color: #1D4ED8;
}

.title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
}