.table-container {
  display: flex;
  flex-direction: column;

  font-family: Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;

  border: 1px solid #CCD2E3;
  border-radius: 8px;
  border-spacing: 30px 15px;

}

.table-header {
  display: flex;
  justify-content: left;
  color: #9CA3AF;
  flex: 1;
  padding-top: 5px;
  padding-left: 8px;

}

.table-row {
  display: flex;
  margin: 10px px;
  padding: 8px;
  height: 56px;
}

.table-data {
  color: #111827;
  word-break: break-all;
  line-break: break-all;
  padding-top: 15px;

}

.table-data-available {
  color: #1D4ED8;
  padding: 15px 5px;
}

.title {
  font-family: Sans-Serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
}